*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #141518;
    color: #fff;
    overflow-x: hidden;
}
hr{
    height: 3px;
    background-color: #0ef;
    border: #0ef;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #141518;

}
::-webkit-scrollbar-thumb{
    background-color: #141518;
    border-radius: 10px;
    border: 1px solid #0ef;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0ef;
}
::selection{
    background-color: #0ef;
    color: #1f242d;
}
#scroll {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    bottom: 20px;
    right: 10px;
    width: 2.5vw;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 100%;
    background-color: #141518;
    border: 1px solid #0ef;
    aspect-ratio: 1/1;
    color: #0ef;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100;
  }
   #scroll-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #141518;
  } 
  
/* ------------------Header------------------- */

.header{
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4),transparent);
    transition: .5s;
}
.header:hover::before{
    left: 100%;
}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    animation: slideRight 1s ease forwards;
}
.cyan{
    color: #0ef;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    animation: slideLeft 1s ease forwards;
}
.navbar a:hover{
    color: #0ef;
}

/* ------------------Home------------------- */
#home{
    background: url("../Assets/img/bg 1.png")center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    position: relative;
}
#home-image-wrapper{
    position: absolute;
    width: 60vw;
    height: 95vh;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#home-image-cyan-circle{
    margin-top: 5vh;
    position: absolute;
    box-sizing: border-box;
    height: 130vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
    left: 80px;
    top: 40px;
    border: 120px solid #0ef;
    opacity: .9;
    animation: slideTop 1s ease forwards;
}
.home-image{
    display: inline-block;
    position: absolute;
    bottom: -10px;
    right: 0;
    left: -30px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.home-image>img{
    height: 95vh;
    width: auto;
    animation: heroSlideLeft 2s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 0s, 2s;
}
.home-content{
    position: relative;  
    width: fit-content;
    height: fit-content;
    z-index: 10;
}
.home-content h3{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
}
.home-content>h3>div{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 220px;
    margin: auto;
    display: inline-block;
    width: 65px;
    height: 5px;
    background-color: #0ef;
    animation: slideBottom 2s ease forwards;
}
.home-content h1{
    font-size: 75px;
    font-weight: 700;
    animation: slideRight 1s ease forwards;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
}
.home-content p{
    font-size: 15px;
    font-weight: 400;
    animation: slideLeft 1s ease forwards;
}
#role{
    color: #0ef;
}
.social-media{
    animation: slideLeft 1s ease forwards;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 20px 20px 0;
    transform: translateY(0);
    transition: transform 0.1s ease, background 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
    transform: translateY(-5px);
}
.btn{
    position: relative;
    width: 155px;
    height: 50px;
    animation: slideTop 1s ease forwards;
}
.btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0,238,255, 0.1);
    border-bottom: 1px solid rgba(0,238,255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.btn:hover a{
    letter-spacing: 1.5px;
}
.btn a::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background: linear-gradient(to left, rgba(255, 255, 255, 0.05), transparent);
transform: skewX(45deg) translateX(0);
transition: 0.5s;
}
.btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}

/*Keyframe animations*/

/* @keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes heroSlideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(24px);
    }
    100% {
        transform: translateY(0);
    }
}  */

/* ------------------About------------------- */
.aboutMe{
    position: relative;
}
.center-subtopic{
text-align: center;
font-size: 32px;
margin-top: 50px;
margin-bottom: 30px;
letter-spacing: 8px;
color: rgba(255, 255, 255, .5);
}
.middle-quote{
text-align: center;
font-size: 18px;
margin-top: 50px;
margin-bottom: 30px;
color: white;
}
.div-wrapper{
    padding: 20px 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card
{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;
    background: transparent;
    box-shadow: 0 15px 35px rgba(0,238,255, .3);
}
.card .lines
{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}
.card .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 120px;
    background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
 0%
 {
    transform: translate(-50%,-50%) rotate(0deg);
 } 
 100%
 {
    transform: translate(-50%,-50%) rotate(360deg);
 } 
}
.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #141518;
}
.card-img{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img{
height: 600px;
width: auto;
position: absolute;
top: -103px;
transition: height 0.3s ease, transform 0.3s ease;
}
.right-div>h1{
    position: relative;
    font-size: 75px;
    display: inline-block;
    padding-bottom: 10px;
}
.first-line{
    position: absolute;
    left: 5px;
    bottom: 0;
    margin: auto;
    width: 85px;
    height: 5px;
    background-color: #0ef;
}
.second-line{
    position: absolute;
    left: 100px;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 5px;
    background-color: #0ef;
}
.tab-titles{
    display: flex;
}
.tab-links{
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0ef;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.right-div>p{
    position: relative;
    margin-top: 50px;
    line-height: 25px;
    font-weight: 400;
}

/* ------------------Services------------------- */

#srvices{
    position: relative;
}
.services-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}
#services h1{
    font-size: 75px;
    display: inline-block;
    padding-bottom: 10px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #0ef;
    color: #141518;
    transform: translateY(-10px);
}
.card-line{
    width: 50px;
    height: 5px;
    margin-top: 10px;
    background-color: #0ef;
    position: absolute;
    border: 1px solid #141518;
}
#services h5{
    margin-bottom: 80px;
}

/* ----------------skills---------------- */
#skills{
    height: 300px;
}
.skill-showcase div{
    margin-left: 80px;
    margin-right: 80px;
    width: 120px;
    height: 120px;
}
.skill-showcase div:first-child{
    background-image: url('../Assets/img/css.png');
}
.skill-showcase div:nth-child(2){
    background-image: url('../Assets/img/html.png');
}
.skill-showcase div:nth-child(3){
    background-image: url('../Assets/img/java.png');
}
.skill-showcase div:nth-child(4){
    background-image: url('../Assets/img/mysql.png');
}
.skill-showcase div:last-child{
    background-image: url('../Assets/img/javascript.png');
}
.skill-showcase{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150px;
    background: url('../Assets/img/skills-bg.png');
    background-size: cover;
}

/* -----------------Portfolio------------------- */
#portfolio {
    padding: 0 10%;
    text-align: center;
}
#portfolio h1{
    font-size: 75px;
    display: inline-block;
    padding-bottom: 10px;
}
#portfolio .tab-titles{
    display: inline-flex;
    align-items: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    overflow: hidden;
}
h3{
    margin-block-end: 0;
    margin-block-start: 0;
}
a{
    text-decoration: none;
    color: #0ef;
}
.work-card{
    max-width: 300px;
    max-height: 420px;
    background: #1e2529;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.work-card .image-container{
    width: 100%;
    height: 170px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}
.work-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work-card:hover .image-container{
    transform: scale(1.1);
}
.work-card .image-container::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: #0ef;
    mix-blend-mode: multiply;
    transform: translateX(120%) skewX(-10deg);
    transition: transform 0.3s ease-out;
}
.work-card-footer{
    padding: 20px 20px 20px 20px;
    margin: 0;
    color: rgb(236, 232, 225);
    transition: all 0.3s ease;
    text-align: left;
}
.work-card-footer h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.work-card-footer span{
    font-weight: bold;
    font-size: 12px;
    color: #5a6469;
}
.work-card-footer p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 25px;
}
.read-more{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.read-more span{
    display: block;
    margin-left: 4px;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}
.work-card:hover .read-more{
    color: rgb(56, 62, 58);
}
.work-card:hover .read-more span{
    transform: translateX(5px);
}
.work-card:hover .image-container::before{
    transform: translateX(0) skewX(-10deg) scaleX(1.3);
}
.work-card:hover .work-card-footer{
    background: white;
    color: rgb(56, 62, 58);
}
.work-card:hover span{
    color: #0ef;
}
.work-card::before{
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #0ef 50%, rgb(56, 63, 58)50%);
    background-size: 200%;
    background-position: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: all 0.5s;
}
.work-card:hover::before{
    background-position: 0%;
}
.topmargin{
    margin-top: 50px;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
}
.topmargin-quote{
    margin-top: 100px;
}
/* ----------------projects-done---------------- */

#projects-done{
    color: #141518;
    background-color: #0ef;
    margin: 100px 0 100px 0;
    width: 100%;
    height: 120px;
}
#projects-done-wrapper{
    width: 100%;
    height: 120px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projects-done-wrapper span{
    text-align: center;
}
.projects-count{
    font-size: 75px;
    font-weight: 600;
}
.projects-heading{
    font-size: 18px;
    font-weight: 600;
}
/* -----------------------testimonial----------------- */

#testimonial-topic{
    text-align: center;
}
#testimonial h1{
        font-size: 70px;
        display: inline-block;
        padding-bottom: 10px;
}
#testimonial-content-wrap{
    margin: 100px 10% 100px 10%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
#testimonial-left-div p:first-child{
    color: #0ef;
    font-size: 25px;
    margin-bottom: 15px;
}
#testimonial-left-div p:nth-child(2){
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
    white-space: nowrap;
}
#testimonial-left-div p:nth-child(3){
    color: #B8B6B6;
    margin: 15px 0 15px 0;
    font-size: 18px;
}
#testimonial-left-div p:nth-child(4){
    color: #B8B6B6;
    margin: 15px 0 15px 0;
    font-size: 18px;
}
#hireme-btn{
    text-decoration: none;
    width: 155px;
    height: 50px;
    background-color: #0ef;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #141518;
}
#hireme-btn i{
    font-size: 30px;
    color: #141518;
    margin: 5px;
}
#hireme-btn span{
    font-weight: 600;
    color: #141518;
    margin: 5px;
}
#hireme-btn:hover{
    border: 1px solid #0ef;
    background-color: #141518;
}
#hireme-btn:hover i{
    color: #0ef;
}
#hireme-btn:hover span{
    color: #0ef;
}
.testimonial-card{
    border: 1px solid #0ef;
    background-color: #1e2529;
    height: 350px;
    width: 600px;
    margin: 0 0 0 160px;
    padding: 10px 10px;
}
.testimonial-img{
    border: 2px solid #0ef;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: inline-block;
}
#t-img1{
    background: url('../Assets/img/profile_01.jpg')center center no-repeat;
    background-size: cover;
}
.t-midlle-topics{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.t-midlle-topics p:first-child{
    font-size: 50px;
    font-weight: 600;
}
.t-midlle-topics p:last-child{
    font-size: 15px;
    font-weight: 600;
    color: #0ef;
}
.t-top{
    display: flex;
    justify-content: space-around;    
}
.t-top i{
    color: transparent;
    font-size: 100px;
    -webkit-text-stroke: 2px #0ef;
}
.testimonial-card>p{
    color: gray;
    font-weight: 500;
    padding: 50px 20px 20px 20px;
}
.star{
    margin: 30px 0 0 20px;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.star i{
    font-size: 25px;
    color: #0ef;
}
.star i:nth-child(5){
    color: transparent;
    -webkit-text-stroke: 1px #0ef;
}
.rating{
    margin: 0 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}
.t-nav{
    display: inline-block;
    position: relative;
    margin-left: 250px;
}
.t-prev{
    opacity: .5;
}
.t-prev:hover{
    opacity: 1;
}
.t-next{
    opacity: .5;
}
.t-next:hover{
    opacity: 1;
}
.t-btn{
    font-size: 60px;
    cursor: pointer;
}
/* --------------------assignments---------------------- */
#assignments-topics{
    text-align: center;
}
#assignments h1{
    font-size: 70px;
    display: inline-block;
    padding-bottom: 10px;
}
#assignments{
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assignments-card-bg{
    margin: 80px 0 80px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40vw;
    height: 28vh;
    background-color: #1E1F1F;
    border-radius: 30px;
    background: url('../Assets/img/assignment-card-bg.gif') center center no-repeat;
    background-size: cover;
}
.assignments-card-content-wrapper{
    background-color: #f7f3f3;
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    border-radius: 30px 30px 30px 30px;
}
.assignments-middle-circle{
    width: 120px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    margin-top: 10px;
    background: url('../Assets/img/middle.jpg')center center no-repeat;
    background-size: cover;
    z-index: 2;
}
.assignments-card-footer-topic{
    color: black;
    font-weight: 600;
    margin-top: 20px;
}
.assignments-card-footer-content{
    color: black;
}
.assignments-card-content-wrapper a{
    margin-top: 10px;
    background-color: #0ef;
    color: black;
    font-weight: 600;
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 5px;
    z-index: 2;
}
.assignments-card-content-wrapper a:hover{
    background-color: #fff;   
}
.a-nav{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.a-prev{
    opacity: .5;
    position: relative;
    right: 340%;
    top: 30%;
}
.a-prev:hover{
    opacity: 1;
}
.a-next{
    opacity: .5;
    position: relative;
    left: 340%;
    top: 30%;
    
}
.a-next:hover{
    opacity: 1;
}
.a-btn{
    font-size: 100px;
    cursor: pointer;
}
/* ----------------------gallery-------------------- */
#gallery-topic {
    text-align: center;
}

#gallery h1 {
    font-size: 70px;
    display: inline-block;
    padding-bottom: 10px;
}

#gallery {
    padding: 20px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.G-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.img-wrapper {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img-wrapper .image {
    background-size: cover;
    filter: grayscale(100%) blur(1px);
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.img-wrapper:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: auto;
}
.img-wrapper:nth-child(6){
    grid-column: 1 / 2;
    grid-row: 3 /5;
    height: auto;
}
.image1{
    background: url('../Assets/gallery/1.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image2{
    background: url('../Assets/gallery/5.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image4{
    background: url('../Assets/gallery/11.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image5{
    background: url('../Assets/gallery/2.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image7{
    background: url('../Assets/gallery/3.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image8{
    background: url('../Assets/gallery/9.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image9{
    background: url('../Assets/gallery/4.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image10{
    background: url('../Assets/gallery/6.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image11{
    background: url('../Assets/gallery/7.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image12{
    background: url('../Assets/gallery/12.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image3{
    background: url('../Assets/gallery/8.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image6{
    background: url('../Assets/gallery/10.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image13{
    background: url('../Assets/gallery/14.webp') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-wrapper:hover .image {
    filter: none;
    transform: scale(1.1);
}
#gallery .btn{
    margin-top: 50px;
}
/* -----------------contact----------------------- */
#contact-topic{
    text-align: center;
}
#contact-topic h1{
    font-size: 60px;
    display: inline-block;
    padding-bottom: 10px;
}
#contact-content-wrapper{
    display: flex;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0 50px 0;
}
#contact-left-div p:first-child{
    color: #0ef;
    font-size: 35px;
    margin: 5px 0 5px 0 ;
}
#contact-left-div p:nth-child(2){
    font-weight: 600;
    font-size: 40px;
    margin: 5px 0 5px 0 ;
}
#contact-left-div p:nth-child(3){
    font-size: 23px;
    margin: 50px 0 5px 0 ;
}
#contact-left-div p:nth-child(4){
    font-size: 23px;
    margin: 5px 0 5px 0 ;
}
#contact-left-div i{
    font-size: 25px;
    color: #0ef;
}
#contact-right-div form input,textarea{
    background-color: #1E1F1F;
    margin: 0 0 10px 0;
    text-decoration: none;
    width: 600px;
    height: 30px;
    margin: 0 0 10px 0;
    border: none;
    font-size: 12px;
    padding-left: 20px;
    color: white;
}
#contact-right-div form textarea{
    height: 150px;
    padding-top: 10px;
    resize: none;
}
.contact-social{
    padding: 20px 10%;
    display: flex;
    justify-content: end;
}
#whatsapp{
    margin-top: 40px;
    background-color: lightgreen;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #141518;
    font-weight: 600;
    box-shadow: rgba(144, 238, 144, 0.35) 0px 5px 15px;
}
#whatsapp i{
    color: #141518;
}
#whatsapp:hover{
    background-color: #141518;
    border: 1px solid lightgreen;
    color: lightgreen;
}
#whatsapp:hover i{
    color: lightgreen;
}
#submit-btn{
    text-decoration: none;
    width: 90px;
    height: 30px;
    font-size: 15px;
    background-color: #0ef;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #141518;
}

#submit-btn span{
    font-weight: 600;
    color: #141518;
    margin: 5px;
}
#submit-btn:hover{
    border: 1px solid #0ef;
    background-color: #141518;
}
#submit-btn:hover i{
    color: #0ef;
}
#submit-btn:hover span{
    color: #0ef;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #1E1F1F;
}
footer div{
    font-size: 15px;
}

/* ------------------------portfolio page ----------------------------- */
#portfolio-header{
    position: relative;
}
#portfolio-footer{
    margin-top: 10%;
}


/* ---------------------------media-------------------------------------- */
@media all and (max-width:1557px){
    .logo{
        font-size: 23px;
    }
    .navbar a{
        font-size: 16px;
    }
    .home-content h3{
        font-size: 33px;
    }
    .home-content h1{
        font-size: 73px;
    }
    .home-content p{
        font-size: 14px;
    }
    #home-image-wrapper{
        width: 60vw;
        height: 95vh;
    }
    #home-image-cyan-circle{
        height: 120vh;
        left: 120px;
        top: 60px;
        border: 100px solid #0ef;
    }
    .home-image>img{
        height: 94vh;
    }
    .home-content>h3>div{
        left: 210px;
        width: 55px;
        height: 5px;
    }
    .social-media a {
        width: 38px;
        height: 38px;
    }
    .btn{
        width: 150px;
        height: 45px;
    }
    .btn:hover a{
        letter-spacing: 1.4px;
    }
    .center-subtopic{
        font-size: 30px;
    }
    .right-div>h1{
        font-size: 70px;
    }
    .tab-links{
        font-size: 16px;
    }
    .right-div>p{
        font-size: 15px;
    }
    #services h1{
        font-size: 70px;
    }
    .services-list div{
        font-size: 12px;
    }
    .services-list div i{
        font-size: 48px;
    }
    .services-list div h2{
        font-size: 28px;
    }
    #skills{
        height: 280px;
    }
    .skill-showcase div{
        width: 100px;
        height: 100px;
    }
    .skill-showcase div:first-child{
        background-size: cover;
    }
    .skill-showcase div:nth-child(2){
        background-size: cover;
    }
    .skill-showcase div:nth-child(3){
        background-size: cover;
    }
    .skill-showcase div:nth-child(4){
        background-size: cover;
    }
    .skill-showcase div:last-child{
        background-size: cover;
    }
    #projects-done{
        height: 110px;
    }
    #projects-done-wrapper{
        height: 110px;
    }
    .projects-count{
        font-size: 65px;
    }
    .projects-heading{
        font-size: 16px;
    }
    #testimonial h1{
        font-size: 70px;
    }
    #testimonial-content-wrap{
        margin: 100px 20%;
    }
    #testimonial-left-div p:first-child{
        font-size: 23px;
    }
    #testimonial-left-div p:nth-child(2){
        font-size: 33px;
    }
    #testimonial-left-div p:nth-child(3){
        font-size: 16px;
    }
    #testimonial-left-div p:nth-child(4){
        font-size: 16px;
    }
    #hireme-btn{
        width: 150px;
        height: 45px;
    }
    #hireme-btn i{
        font-size: 28px;
    }
    .testimonial-card{
        margin: 0 0 0 100px;
    }
    .star i{
        font-size: 23px;
    }
    .rating{
        font-size: 18px;
    }
    .t-btn{
        font-size: 55px;
    }
    .a-prev{
        right: 270%;
    }
    .a-next{
        left: 270%;
    }
    .img-wrapper {
        width: 430px;
        height: 230px;
    }
}
@media all and (max-width : 1629px){
    .a-prev{
        right: 280%;
    }
    .a-next{
        left: 280%;
    }
}
@media all and (max-width : 1383px){
    .a-prev{
        right: 240%;
    }
    .a-next{
        left: 240%;
    }
    .home-content h3{
        font-size: 30px;
    }
    .home-content h1{
        font-size: 70px;
    }
    .home-content p{
        font-size: 13px;
    }
    #home-image-wrapper{
        width: 60vw;
        height: 95vh;
    }
    #home-image-cyan-circle{
        height: 110vh;
        left: 130px;
        top: 70px;
        border: 90px solid #0ef;
    }
    .home-image>img{
        height: 91vh;
    }
    .home-image{
        bottom: -10px;
        right: 0;
        left: -60px;
    }
    .home-content>h3>div{
        left: 210px;
        width: 55px;
        height: 5px;
    }
}
@media all and (max-width : 1366px) {
    .home-image>img{
        height: 89vh;
    }
    .home-image{
        bottom: -10px;
        right: 0;
        left: 50px;
    }
    #home-image-cyan-circle{
        height: 120vh;
        left: 140px;
        top: 50px;
        border: 80px solid #0ef;
    }
    .a-prev{
        right: 230%;
    }
    .a-next{
        left: 230%;
    }
    .home-content h3{
        font-size: 29px;
    }
    .home-content h1{
        font-size: 68px;
    }
    .home-content p{
        font-size: 13px;
    }
    .home-content>h3>div{
        left: 185px;
        width: 50px;
        height: 5px;
    }
    .social-media a {
        width: 38px;
        height: 38px;
    }
    .btn{
        width: 140px;
        height: 40px;
    }
    .center-subtopic{
        font-size: 28px;
    }
    .right-div>h1{
        font-size: 60px;
        margin-top: -30px;
    }
    .tab-links{
        font-size: 14px;
        margin-left: 0;
    }
    .right-div>p{
        font-size: 14px;
    }
    .card
    {
        margin-right: 100px;
    }
    .card-img{
        width: 350px;
        height: 450px;
    }
    .card-img img{
        height: 500px;
        top: -52px;
    }
    .first-line{
        width: 75px;
    }
    .second-line{
        left: 90px;
    }
    .tab-contents{
        margin: -30px 0 50px 0;
    }
    .tab-contents ul li{
        margin: 8px 0;
    }
    .right-div>p{
        margin-top: 35px;
    }
    .tab-titles{
        margin-top: -30px;
    }
    #services h1{
        font-size: 68px;
    }
    .services-list div{
        font-size: 12px;
    }
    .services-list div i{
        font-size: 40px;
    }
    .services-list div h2{
        font-size: 25px;
    }
    #skills{
        height: 200px;
    }
    .skill-showcase div{
        width: 90px;
        height: 90px;
    }
    #testimonial-content-wrap{
        padding: 0 10%;
    }
    #testimonial-left-div p:first-child{
        font-size: 23px;
    }
    #testimonial-left-div p:nth-child(2){
        font-size: 28px;
    }
    #testimonial-left-div p:nth-child(3){
        font-size: 15px;
    }
    #testimonial-left-div p:nth-child(4){
        font-size: 15px;
    }
    #hireme-btn{
        width: 140px;
        height: 40px;
        font-size: 14px;
    }
    #hireme-btn i{
        font-size: 25px;
    }
    .testimonial-card{
        margin: 0 0 0 80px;
    }
    .star i{
        font-size: 20px;
    }
    .rating{
        font-size: 16px;
    }
    .t-btn{
        font-size: 50px;
    }
    .G-box {
        gap: 8px;
    }
    .img-wrapper {
        width: 420px;
        height: 280px;
    }
    .assignments-middle-circle{
        width: 80px;
        z-index: 2;
    }
}
